%h1 Visitors#index
%p Find me in app/views/visitors/index.html.erb
= link_to 'sign in', new_user_session_path
= link_to 'sign up', new_user_registration_path
= link_to 'logout', destroy_user_session_path, method: :delete
