%h1 Editing Contact

= render 'form'

%br

= link_to @contact, class: 'btn btn-default' do
  %span.glyphicon.glyphicon-list
  Show
|
= link_to contacts_path, class: 'btn btn-default' do
  %span.glyphicon.glyphicon-arrow-left
  Back
